@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  font-family: "opensans", "Arial", "Serif";
  margin: 0; }

.sidebar {
  width: 210px;
  min-height: 100vh;
  background-color: #243036;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .sidebar {
    width: 60px; } }

.sidebar-header {
  display: flex;
  border-bottom: 2px solid #b0bec5;
  padding-bottom: 15px; }
  .sidebar-header h1 {
    font-size: 17px;
    margin-bottom: 0; }
  .sidebar-header span {
    color: #b0bec5;
    font-size: 10px; }
  .sidebar-header img {
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 25px; }

.sidebar-header__profile-name a {
  color: #fff;
  text-decoration: none; }

.sidebar-header__logout {
  display: block;
  color: #b0bec5;
  padding-left: 80px;
  font-size: 10px; }

@media (max-width: 768px) {
  .sidebar-header {
    padding-bottom: 0; }
    .sidebar-header span {
      display: none; }
    .sidebar-header img {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      min-width: 40px;
      min-height: 40px; }
  .sidebar-header__profile-name a {
    display: none; }
  .sidebar-header__logout {
    display: none; } }

.sidebar-menu {
  flex: 1 0 auto; }
  .sidebar-menu ul {
    padding: 0;
    margin: 0; }
  .sidebar-menu li {
    list-style: none;
    width: 100%;
    box-sizing: border-box; }
    .sidebar-menu li a {
      text-decoration: none;
      display: block;
      color: #b0bec5;
      font-size: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 40px;
      display: flex;
      align-items: center; }
      .sidebar-menu li a svg {
        padding-right: 10px;
        padding-left: 10px;
        fill: #b0bec5;
        min-width: 40px;
        min-height: 40px; }
      .sidebar-menu li a span {
        padding-right: 10px; }
    .sidebar-menu li ul {
      display: none; }

.sidebar-menu__main {
  position: relative; }
  .sidebar-menu__main li:hover > ul {
    display: block;
    background-color: #36464f;
    padding-left: 0px; }

.sidebar-menu__main-item {
  background-image: url("../img/right-arrow.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 95% 50%; }

.sidebar-menu__main-item--open:hover {
  background-color: #36464f;
  background-image: url("../img/up-arrow.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 95% 20px; }

.sidebar-menu__main-item a:hover {
  position: relative;
  box-shadow: inset 5px 0 #d31c5d;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff; }
  .sidebar-menu__main-item a:hover svg {
    padding-left: 10px;
    fill: #fff; }

.sidebar-menu__second-item a {
  padding-left: 30px;
  padding-right: 20px; }

.sidebar-menu__second-item li a {
  padding-left: 50px;
  padding-right: 15px; }

.sidebar-menu__second-item--open:hover {
  background-image: url("../img/up-arrow.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 95% 20px; }

@media (max-width: 768px) {
  .sidebar-menu__main span {
    display: none; }
  .sidebar-menu__main-item {
    background-image: none;
    position: relative; }
    .sidebar-menu__main-item a:hover {
      background-color: none; }
  .sidebar-menu__main-item:hover {
    box-shadow: inset 5px 0 #d31c5d;
    background-color: rgba(0, 0, 0, 0.2); }
    .sidebar-menu__main-item:hover span {
      display: block;
      background-color: #1d262b;
      position: absolute;
      top: 0;
      left: 60px;
      min-height: 60px;
      min-width: 200px;
      padding-left: 10px;
      padding-right: 15px;
      padding-top: 5px;
      box-sizing: border-box; }
    .sidebar-menu__main-item:hover span:hover {
      background-color: #171e22; }
  .sidebar-menu__main-item--open:hover {
    background-image: none; }
  .sidebar-menu__second {
    position: absolute;
    top: 60px;
    left: 60px; }
    .sidebar-menu__second li {
      min-height: 60px; }
      .sidebar-menu__second li a:hover {
        background-color: transparent;
        box-shadow: none; }
  .sidebar-menu__second-item a {
    padding-left: 20px;
    min-width: 200px;
    min-height: 60px;
    box-sizing: border-box; }
  .sidebar-menu__second-item a:hover {
    padding-left: 20px; }
  .sidebar-menu__second-item ul {
    position: absolute;
    top: 60px;
    left: 200px; }
  .sidebar-menu__second-item li a {
    padding-left: 20px; }
  .sidebar-menu__second-item li a:hover {
    padding-left: 20px; } }

.sidebar-footer {
  flex: 0 0 auto;
  min-height: 120px;
  padding-bottom: 20px; }

.sidebar-footer__social {
  border-bottom: 2px solid #b0bec5; }
  .sidebar-footer__social a {
    font-size: 0; }
  .sidebar-footer__social svg {
    fill: #fff;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 75%;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: -5px;
    margin-bottom: 10px; }
  .sidebar-footer__social svg:hover {
    border-color: transparent; }

.sidebar-footer__phone {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  padding-top: 20px;
  font-size: 20px; }

.sidebar-footer__schedule {
  color: #b0bec5;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 10px; }

@media (max-width: 768px) {
  .sidebar-footer {
    display: none; } }
