.sidebar-header {
  display: flex;
  border-bottom: 2px solid #b0bec5;
  padding-bottom: 15px;
    h1 {
      font-size: 17px;
      margin-bottom: 0;
      // padding-right: 20px;
    }
    span {
      color: #b0bec5;
      font-size: 10px;
    }
    img {
      border-radius: 100px;
      margin-left: 5px;
      margin-right: 15px;
      margin-top: 25px;
    }
}

.sidebar-header__profile-name {
    a {
      color: #fff;
      text-decoration: none;
    }
}
.sidebar-header__logout {
  display: block;
  color: #b0bec5;
  padding-left: 80px;
  font-size: 10px;
}

@media #{$tablet-widths} {
  .sidebar-header {
    padding-bottom: 0;
    span {
      display: none;
    }
    img {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      min-width: 40px;
      min-height: 40px;
    }
  }
  .sidebar-header__profile-name {
      a {
        display: none;
      }
  }
  .sidebar-header__logout {
    display: none;
  }
}
