.sidebar-menu {
  flex: 1 0 auto;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    width: 100%;
    box-sizing: border-box;

      a {
        text-decoration: none;
        display: block;
        color: #b0bec5;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 40px;
        display: flex;
        align-items: center;
          svg {
            padding-right: 20px;
            padding-left: 20px;
            fill: #b0bec5;
          }
      }
      ul {
        display: none;
      }
  }
}

.sidebar-menu__main {
  position: relative;
    li:hover > ul {
      display: block;
      background-color: #36464f;
      padding-left: 0px;
    }
}

.sidebar-menu__main-item {
    background-image: url("../img/right-arrow.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.sidebar-menu__main-item--open:hover {
   background-color: #36464f;
    background-image: url("../img/up-arrow.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 20px;
}

.sidebar-menu__main-item a:hover {
  position: relative;
  border-left: 5px solid #d31c5d;
  background-color: rgba(0,0,0,0.2);
    svg {
      padding-left: 15px;
    }
}

.sidebar-menu__second-item {
  a {
    padding-left: 30px;
  }
  a:hover {
    padding-left: 25px;
  }
  li a {
    padding-left: 60px;
  }
  li a:hover {
    padding-left: 55px;
  }
}

.sidebar-menu__second-item--open:hover {
  background-image: url("../img/up-arrow.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% 20px;
}

@media #{$tablet-widths} {
  .sidebar-menu__main {
      span {
        display: none;
      }
  }

  .sidebar-menu__main-item {
    background-image: none;
    position: relative;
      a {
        padding-left: 10px;
      }
      a:hover {
        border-left: none;
        background-color: none;
      }
  }

  .sidebar-menu__main-item:hover {
    border-left: 5px solid #d31c5d;
    background-color: rgba(0,0,0,0.2);
    span {
      display: block;
      background-color: #36464f;
      position: absolute;
      top: 0;
      left: 95px;
      min-height: 60px;
      min-width: 200px;
      padding-left: 10px;
      padding-right: 15px;
      padding-top: 5px;
      box-sizing: border-box;
    }
  }
  .sidebar-menu__main-item--open:hover {
    background-image: none;
      ul {
        a:hover {
          border-left: none;
          color: #fff;
        }
      }
  }

  .sidebar-menu__second {
    position: absolute;
    top: 60px;
    left: 95px;
  }

  .sidebar-menu__second-item {
    a {
      padding-left: 20px;
      min-width: 200px;
      box-sizing: border-box;
    }
    a:hover {
      padding-left: 20px;
    }
    ul {
      position: absolute;
      top: 65px;
      left: 200px;
    }
    li a {
      padding-left: 20px;
    }
    li a:hover {
      padding-left: 20px;
    }
  }


  // .sidebar-menu {
  //   padding-top: 20px;
  //     li:hover {
  //       position: relative;
  //
  //         ul {
  //           position: absolute;
  //           top: 70px;
  //           left: 95px;
  //         }
  //           li {
  //             padding-left: 0;
  //           }
  //     }
  //     li:hover > ul {
  //       display: block;
  //     }
  // }
  // .sidebar-menu__main {
  //     li {
  //       a {
  //         padding-left: 10px;
  //       }
  //       span {
  //         display: none;
  //       }
  //     }
  //
  //     li:hover {
  //       position: relative;
  //         span {
  //           display: block;
  //           position: absolute;
  //           min-width: 250px;
  //           max-width: 250px;
  //           background-color: #243036;
  //           top: 0;
  //           left: 95px;
  //           min-height: 55px;
  //           padding-left: 20px;
  //           padding-right: 60px;
  //           padding-top: 15px;
  //           box-sizing: border-box;
  //           padding-bottom: 9px;
  //         }
  //         svg {
  //           fill: #fff;
  //           padding-left: 10px;
  //         }
  //         ul {
  //           min-width: 250px;
  //           max-width: 250px;
  //           box-sizing: border-box;
  //         }
  //         li {
  //           padding-left: 0;
  //         }
  //     }
  // }
  // .sidebar-menu__second {
  //     li {
  //       a {
  //         padding-left: 0px;
  //         padding-right: 0px;
  //         min-width: 200px;
  //         max-width: 200px;
  //         margin: 0;
  //       }
  //     }
  //     li:hover {
  //       position: relative;
  //       border-left: 0;
  //         ul {
  //           position: absolute;
  //           top: 0;
  //           left: 245px;
  //
  //             li a {
  //               padding-left: 0px;
  //               padding-right: 0px;
  //               min-width: 200px;
  //             }
  //         }
  //
  //     }
  //     li:hover > ul {
  //       padding-left: 0;
  //     }
  // }
}
