.sidebar-footer {
  // flex: 1;
  // position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   max-width: 100%;
  flex: 0 0 auto;
  min-height: 120px;
}

.sidebar-footer__social {
  border-bottom: 2px solid #b0bec5;
    a {
      font-size: 0;
    }
    svg {
      fill: #fff;
      padding: 10px;
      border: 1px solid rgba(255,255,255,0.3);
      opacity: 75%;
      border-radius: 100%;
      margin-left: 10px;
      margin-right: -5px;
    }
    svg:hover {
      border-color: transparent;
      @each $social-network in $brand-color {
        .sidebar-footer__social-item--#{$social-network}:hover {
          background: $brand-color;
        }
      }
    }
}
.sidebar-footer__phone {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 20px;

  font-size: 20px;
}

.sidebar-footer__schedule {
  color: #b0bec5;
  margin-left: 15px;
  padding-bottom: 20px;
  font-size: 10px;
}

@media #{$tablet-widths} {
  .sidebar-footer {
    display: none;
  }
}
