.sidebar-menu {
  ul {
    padding: 0;
    // padding-left: 50px;
    margin: 0;
  }
  li {
    list-style: none;
    width: 100%;
      a {
        text-decoration: none;
        display: block;
        color: #fff;
        padding: 15px 15px 15px 50px;
          img {
            position: absolute;
            left: 30px;
          }
      }
      ul {
        display: none;
      }
  }
  li:hover {
    position: relative;
    border-left: 10px solid #d31c5d;
    background-color: rgba(0,0,0,0.2);
  }
  li:hover > ul {
      display: block;
      background-color: #36464f;
      padding-left: 15px;
    }
}

// .dashboard {
//   position: relative;
//     a:before {
//       content: "";
//       display: block;
//       width: 40px;
//     	height: 40px;
//     	background: #fff;
//       position: absolute;
//       top: 10px;
//       left: -60px;
//     }
// }
//
// @media #{$tablet-widths} {
//   li {
//     display: none;
//   }
// }
