.sidebar-footer {
  flex: 0 0 auto;
  min-height: 120px;
  padding-bottom: 20px;
}

.sidebar-footer__social {
  border-bottom: 2px solid #b0bec5;

    a {
      font-size: 0;
    }
}

.sidebar-footer__social-item {
  fill: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  opacity: 75%;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: -5px;
  margin-bottom: 10px;

  $brand-colors: (
    pinterest: #bd081c,
    facebook: #3b5998,
    google: #dd4b39,
    twitter: #1da1f2
  );

  @each $brand, $color in $brand-colors
 {
    &--#{$brand}:hover {
      background: $color;
      border-color: transparent;
    }
  }
}


.sidebar-footer__phone {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  padding-top: 20px;

  font-size: 20px;
}

.sidebar-footer__schedule {
  color: #b0bec5;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 10px;
}

@media #{$tablet-widths} {
  .sidebar-footer {
    display: none;
  }
}
